<!DOCTYPE html>
<html>
  <head>
    <title>My Media List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="title-bar">
      <h1>My Media List</h1>
  </div>
    <%if (!user) {%>
      <div id="google-login">
      <a href="/auth/google">Login with Google</a>
    </div>
      <%} else {%>
    <div class="searchBar">
      <div id="searchLinks">
        <a href="/users">Media List</a>
        <a href="/users/books/search">Search Books</a>
        <a href="/users/movies/search">Search Movies</a>
        <a href="/logout">LogOut</a>
      </div>
    </div>
    <%}%>