<%- include('../partials/header') %>
    <div id='year-title'>
    <h1><%= title %></h1>
    </div>
    <div id="media-list-div">
      <table id="media-list">
        <thead>
          <th>Date Viewed</th>
          <th>Title</th>
          <th>Creator</th>
        </thead>
        <tbody>
          <tr>
            <a href="/media/:id">
            <td>DATE HERE</td>
            <td>TITLE HERE</td>
            <td>CREATOR HERE</td>
            </a>
          </tr>
        </tbody>
      </table>
    </div>
<%- include('../partials/footer') %>